<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title><%= title %></title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="./css/styles.css" rel="stylesheet" />
</head>
<body class="bg-green-100">
    <div class="flex justify-center items-center min-h-screen">
        <div class="w-full max-w-md bg-white rounded-lg shadow-lg p-8">
            <%- include('header.ejs') %>
            <h6 class="text-center text-xl font-bold py-4">Signup as a New User</h6>
            <form action="/User" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="mb-4">
                    <label for="firstName" class="text-gray-700 font-medium">First Name:</label>
                    <input type="text" name="firstName" class="border border-gray-300 text-gray-900 rounded p-2 w-full focus:outline-none focus:ring-2 focus:ring-green-500">
                </div>
                <div class="mb-4">
                    <label for="lastName" class="text-gray-700 font-medium">Last Name:</label>
                    <input type="text" name="lastName" class="border border-gray-300 text-gray-900 rounded p-2 w-full focus:outline-none focus:ring-2 focus:ring-green-500">
                </div>
                <div class="mb-4">
                    <label for="email" class="text-gray-700 font-medium">Email:</label>
                    <input type="email" name="email" class="border border-gray-300 text-gray-900 rounded p-2 w-full focus:outline-none focus:ring-2 focus:ring-green-500">
                </div>
                <div class="mb-4">
                    <label for="password" class="text-gray-700 font-medium">Password:</label>
                    <input type="password" name="password" class="border border-gray-300 text-gray-900 rounded p-2 w-full focus:outline-none focus:ring-2 focus:ring-green-500">
                </div>
                <div class="flex justify-between">
                    <button type="submit" name="userType" value="false" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Signup as Sportman</button>
                    <button type="submit" name="userType" value="true" class="text-white bg-green-600 hover:bg-green-800 font-medium rounded px-5 py-2">Signup as Admin</button>
                </div>
            </form>
            <%- include("Flash.ejs") %>
        </div>
    </div>
</body>
</html>
