<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="../css/styles.css" rel="stylesheet">
    <title><%= title %></title>
</head>
<body class="bg-green-100">
    <div class="grid grid-cols-4">
        <div class="col-start-2 col-span-2">
            <p class="text-xl flex items-center">
                <a href="/sports" class="hover:underline">Sports</a> / <%= sport.name %>
            </p>
            <div>
                <a href="/sport/<%= sport.id %>/session/create" class="hover:underline">Create a new session</a>
            </div>
            <div>
                <a href="/sport/<%= sport.id %>/sessions" class="hover:underline">View previous sessions</a>
            </div>
                <h2>List of Sessions:</h2>
                <div>
                        <div>
                            <a href="/sport/<%= sport.id %>/sessions/<%= session.id %>" class="hover:underline"><%= session.sessionDateTime %></a>  
                        </div>      
                </div>
            
        </div>
    </div>
</body>

